        #one {
            height: 800px;
            width: 100%;
            background-color: aqua;

        }

        #two {
            height: 100px;
            width: 90%;
            background-color: white;
            margin: 45px;
            font-size: 20px;
            display: flex;
        }

        #three {
            height: 450px;
            width: 50%;
            background-color: white;
            margin: 20px;
        }

        input {
            width: 300px;
            height: 40px;
            font-size: 20px;
        }

        #maping {
            margin-left: 80px;
            margin-right: 10px;
        }

        #add {
            width: 610px;
            font-size: 20px;
        }

        #button {
            background-color: red;
            color: white;
            height: 40px;
            width: 70px;
            font-size: 20px;
        }
        #pho{
            margin: 25px; 
            margin-left: 150px;

        }
        #loc{
            margin: 35px; 
            margin-left: 400px;
        }
        #tabg{
            display: flex;
             background-color: white; 
             width: 90%;
              margin: 30px;
        }
        .h1{
            margin-left: 20px;
        }